:root {
  --primary-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  --primary-text-color-theme-dark: #212121;
  --secondary-text-color-theme-dark: #757575;
  --text-color-theme-light: #ffffff;
  --accent-color: #2196f3;
  --background-dark-theme: #2f303a;
  --background-light-theme: #f5f4fa;
  --logo-accent-header: #000000;
  --button-background-hover-focus: #188ce8;
  --text-color-contact: rgba(255, 255, 255, 0.6);
  --border-color: #ececec;
  --clients-logo-border: #afb1b8;
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: var(--primary-font-family);
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-dark);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  color: var(--text-color-theme-light);
  cursor: pointer;
  transition: background-color 250ms var(--animation-timing-function);
}

.btn:hover,
.btn :focus {
  background-color: var(--button-background-hover-focus);
  color: var(--text-color-theme-light);
}

.description {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  width: 270px;
  color: var(--secondary-text-color-theme-dark);
}

.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-accent_header {
  color: var(--logo-accent-header);
}

.logo-accent_footer {
  color: var(--text-color-theme-light);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
  color: var(--primary-text-color-theme-dark);
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto 30px auto;
  color: var(--text-color-theme-light);
}

.social-link-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background: #ffffff;
  border-radius: 50%;
  transition: background-color 250ms var(--animation-timing-function);
}

.social-link:hover,
.social-link :focus {
  background-color: var(--accent-color);
}

.social-link-logo {
  fill: var(--clients-logo-border);
  transition: fill 250ms var(--animation-timing-function);
}

.social-link:hover .social-link-logo,
.social-link:focus .social-link-logo {
  fill: var(--text-color-theme-light);
}

.social-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms var(--animation-timing-function);
}

.social-link-footer:hover,
.social-link-footer :focus {
  background-color: var(--accent-color);
}

.social-link-list-footer {
  display: flex;
  margin-top: 20px;
  transition: background-color 250ms var(--animation-timing-function);
}

.social-list-item-footer:not(:last-child) {
  margin-right: 10px;
}

.social-link-logo-footer {
  fill: var(--text-color-theme-light);
  transition: fill 250ms var(--animation-timing-function);
}

.social-link-footer:hover .social-link-logo-footer,
.social-link-footer:focus .social-link-logo-footer {
  fill: var(--text-color-theme-light);
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--primary-text-color-theme-dark);
}

.header {
  border-bottom: 1px solid var(--border-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact-list > .contact-list__item:not(:last-child) {
  margin-right: 50px;
}

.accent link {
  color: var(--accent-color);
}

.logo-header {
  margin-right: 93px;
}

.nav-list__link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color-theme-dark);
}

.nav-list__link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: var(--accent-color);
  transition: opacity 250ms var(--animation-timing-function);
}

.nav-list__link:hover,
.nav-list__link :focus {
  color: var(--accent-color);
}

.nav-list__link.current {
  color: var(--accent-color);
}

.contact-list__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-theme-dark);
  transition: color 250ms var(--animation-timing-function);
}

.contact-list__link:hover,
.contact-list__link :focus {
  color: var(--accent-color);
}

.icon-header {
  padding: 0;
  border: none;
  margin-right: 10px;
  fill: currentColor;
}

.icon-header:hover,
.icon-header :focus {
  fill: var(--accent-color);
}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: 0 auto;
  height: 600px;
  background-color: var(--background-dark-theme);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.benefits-background {
  display: flex;
  background-color: var(--background-light-theme);
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.benefits-list__item {
  display: block;
}

.benefits-list__item:not(:last-child) {
  margin-right: 30px;
}

.benefits-list {
  display: flex;
}

.services {
  padding-top: 0;
}

.services-title {
  margin-bottom: 50px;
}

.services-list {
  display: flex;
}

.services-list__item:not(:last-child) {
  margin-right: 30px;
}

.services-image {
  position: relative;
}

.services-description {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color-theme-light);
  text-transform: uppercase;
  text-align: center;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--background-light-theme);
}

.employees-list {
  display: flex;
}

.employee-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--text-color-theme-light);
}

.employee-card:not(:last-child) {
  margin-right: 30px;
}

.employee-description {
  padding: 30px 32px;
}

.employee-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
  color: var(--primary-text-color-theme-dark);
}

.employee-position {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
  color: var(--secondary-text-color-theme-dark);
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-list > .clients-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--clients-logo-border);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms var(--animation-timing-function);
}

.clients-list > .clients-list-item:hover,
.clients-list > .clients-list-item :focus {
  border-color: var(--accent-color);
}

.clients-list > .clients-list-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: block;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  transition: fill 250ms var(--animation-timing-function);
}

.clients-logo {
  fill: var(--clients-logo-border);
  transition: fill 250ms var(--animation-timing-function);
}

.clients-link:hover .clients-logo,
.clients-link:focus .clients-logo {
  fill: var(--accent-color);
}

.footer {
  background-color: var(--background-dark-theme);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
}

.contact-list-footer > .contact-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.legal-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color-theme-light);
  transition: color 250ms var(--animation-timing-function);
}

.legal-address:hover,
.legal-address :focus {
  color: var(--accent-color);
}

.contact-list-footer {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--animation-timing-function);
}

.contact-list-footer:hover,
.contact-list-footer :focus {
  color: var(--accent-color);
}

.subscription-buttons {
  margin-left: 70px;
}

.join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-theme-light);
}

.mail-outs {
  margin-left: auto;
}

.subcribe {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-theme-light);
}

.footer-form {
  display: flex;
  align-items: baseline;
}

.footer-form input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 15px 16px;
  margin-top: 20px;
  margin-right: 12px;
  color: var(--text-color-theme-light);
  background: transparent;
  transition: border-color 250ms var(--animation-timing-function);
}

.footer-form input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.footer-form input::placeholder {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-send {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms var(--animation-timing-function), visibility 300ms var(--animation-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 530px;
  height: 580px;
  padding: 40px;
  background-color: var(--text-color-theme-light);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  transition: fill 250ms var(--animation-timing-function);
}

.modal-close-btn:hover {
  fill: var(--accent-color);
}

.modal-appeal {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
  color: var(--primary-text-color-theme-dark);
}

.modal-form {
  width: 450px;
}

.modal-form-field {
  display: flex;
  flex-direction: column;
}

.modal-label {
  margin-bottom: 4px;
}

.modal-form-field input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 10px 12px 42px;
  outline: none;
  transition: border-color 250ms var(--animation-timing-function);
}

.modal-form-field input:focus {
  border-color: var(--accent-color);
}

.modal-label {
  display: inline;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color-theme-dark);
}

.contact-input-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.contact-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: var(--primary-text-color-theme-dark);
  transition: fill 250ms var(--animation-timing-function);
}

.modal-form-field input:focus + .contact-icon {
  fill: var(--accent-color);
}

.comment-area {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  outline: none;
  transition: border-color 250ms var(--animation-timing-function);
}

.comment-area:focus {
  border-color: var(--accent-color);
}

.comment-area::placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.agreement-wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto 30px auto;
}

.agreement-policy {
  text-decoration: underline;
  color: var(--accent-color);
}

.modal-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 56px;
}

.checkbox-label {
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-dark);
}

.checkbox-label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--logo-accent-header);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 9px;
}

.checkbox:checked + .checkbox-label::before {
  border-color: transparent;
  background-image: url(../images/icon-check.svg);
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  background-size: contain;
}

.title-portfolio {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 6px 20px;
  border: none;
  background-color: var(--background-light-theme);
  color: var(--primary-text-color-theme-dark);
  cursor: pointer;
  transition: box-shadow 250ms var(--animation-timing-function), color 250ms var(--animation-timing-function), background-color 250ms var(--animation-timing-function);
}

.filter-item-button:hover,
.filter-item-button :focus,
.filter-item-button .current {
  background-color: var(--accent-color);
  color: var(--text-color-theme-light);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.portfolio-item {
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc((100% - 3 * 30px) / 3);
}

.project-card {
  display: block;
  background-color: var(--text-color-theme-light);
  transition: box-shadow 250ms var(--animation-timing-function);
}

.portfolio-item:hover .project-card,
.portfolio-item:focus .project-card {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.image-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--text-color-theme-light);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms var(--animation-timing-function);
}

.project-card:hover .overlay,
.project-card:focus .overlay {
  transform: translateY(0%);
}

.portfolio-description {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-top: none;
  padding: 20px 24px;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--primary-text-color-theme-dark);
}

.project-type {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-dark);
}
/*# sourceMappingURL=main.css.map */