.benefits-background {
    display: flex;
    background-color: var(--background-light-theme);

    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    // width: 270px;
    // height: 120px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

.benefits-list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // align-items: center;
        margin-right: -30px;
        margin-bottom: -30px;
    }
}

.benefits-list__item {
    display: block;

    &:not(:last-child) {
        margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) {
        // display: flex;
        width: calc((100% - 2 * 30px) / 2);
        margin-right: 30px;
        margin-bottom: 30px;

        // &:nth-child(2n) {
        //     margin-right: 0;
        // }
    }
}
