.clients-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
}

.clients-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
}

.clients-list > .clients-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;

    width: 210px;
    height: 92px;

    border: 1px solid var(--clients-logo-border);
    box-sizing: border-box;
    border-radius: 4px;

    transition: border-color 250ms var(--animation-timing-function);

    &:hover,
    :focus {
        border-color: var(--accent-color);
    }

    // &:not(:last-child) {
    //     margin-right: 30px;
    // }
}

// .clients-list-item:nth-child(2n + 1) {
//     margin-right: 30px;
//     margin-bottom: 30px;
// }

// .clients-list-item:nth-child(5) {
//     margin-bottom: 0;
// }

.clients-list-item .clients-link {
    width: 170px;
    height: 92px;

    padding: 16px 32px;

    transition: fill 250ms var(--animation-timing-function);
}

.clients-logo {
    fill: var(--clients-logo-border);

    transition: fill 250ms var(--animation-timing-function);

    .clients-link:hover &,
    .clients-link:focus & {
        fill: var(--accent-color);
    }
}
