.hero {
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;

    height: 400px;
    background-image: url(../images/mobile-hero-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
        background-image: url(../images/mobile-hero-background@2x.jpg);
    }
}

@media screen and (min-width: 768px) {
    .hero {
        background-image: url(../images/tablet-hero-background.jpg);
    }

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .hero {
            background-image: url(../images/tablet-hero-background@2x.jpg);
        }
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        background-image: url(../images/desktop-hero-background.jpg);
    }

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .hero {
            background-image: url(../images/desktop-hero-background@2x.jpg);
        }
    }
}
