.subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 10px;

    color: var(--primary-text-color-theme-dark);
}
