:root {
    --primary-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
    --primary-text-color-theme-dark: #212121;
    --secondary-text-color-theme-dark: #757575;
    --text-color-theme-light: #ffffff;
    --accent-color: #2196f3;
    --background-dark-theme: #2f303a;
    --background-light-theme: #f5f4fa;
    --logo-accent-header: #000000;
    --button-background-hover-focus: #188ce8;
    --text-color-contact: rgba(255, 255, 255, 0.6);
    --border-color: #ececec;
    --clients-logo-border: #afb1b8;
    --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
